In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# My Working Progress and Solution

In [5]:
test = """1000.00!=

125 Market !=:125.45
126 Hardware =34.95
127 Video! 7.45
128 Book :14.32
129 Gasoline ::16.10
"""

L1 = test.splitlines()
L1[0:3]

['1000.00!=', '', '125 Market !=:125.45']

In [8]:
[e for e in I1 if e]

['1000.00',
 '125 Market 125.45',
 '126 Hardware 34.95',
 '127 Video 7.45',
 '128 Book 14.32',
 '129 Gasoline 16.10']

In [46]:
#Cleaning Process

I1 = [''.join([i for i in e if i.isalpha() or i.isdigit() or i == '.' or i == ' ']) for e in L1 if e]
I1

['1000.00',
 '125 Market 125.45',
 '126 Hardware 34.95',
 '127 Video 7.45',
 '128 Book 14.32',
 '129 Gasoline 16.10']

In [29]:
#Calculation Process
#The number to delete is always the last number

c1 = [float(e.split(' ')[-1]) for e in I1]
c1

[1000.0, 125.45, 34.95, 7.45, 14.32, 16.1]

In [27]:
#Minus one by one
M1 = [float(c1[i]) - float(c1[i+1]) for i in (range(len(c1) - 1))]
M1

[874.55, 90.5, 27.500000000000004, -6.87, -1.7800000000000011]

In [52]:
#Minus the sum of the first i elements. Balances by step.
BalanceStep = [round((c1[0] - sum(c1[1:i+1])), 2) for i in range(1, len(c1))]
BalanceStep

[874.55, 839.6, 832.15, 817.83, 801.73]

In [61]:
#Keep trailing zero 
"{:.2f}".format(1.5)
BalanceStep = ["{:.2f}".format(round((c1[0] - sum(c1[1:i+1])), 2)) for i in range(1, len(c1))]
BalanceStep

'1.50'

['874.55', '839.60', '832.15', '817.83', '801.73']

In [69]:
round(c1[0] - float(BalanceStep[-1]), 2)

198.27

In [96]:
#Expense wise
Expense = ['Total expense '+"{:.2f}".format(round(c1[0] - float(BalanceStep[-1]), 2)), 
           'Average expense ' + '{:.2f}'.format(round((c1[0] - float(BalanceStep[-1]))/len(BalanceStep), 2))]
Expense

['Total expense 198.27', 'Average expense 39.65']

In [97]:
#Rounding error checking
'{:.2f}'.format(round((c1[0] - float(BalanceStep[-1]))/len(BalanceStep), 2))

'39.65'

'39.60'

In [112]:
#Cleaning Process

I1 = [''.join([i for i in e if i.isalpha() or i.isdigit() or i == '.' or i == ' ']) for e in L1 if e]
I1

['1000.00',
 '125 Market 125.45',
 '126 Hardware 34.95',
 '127 Video 7.45',
 '128 Book 14.32',
 '129 Gasoline 16.10']

In [76]:
#Change the first line
I1[0] = 'Original Balance: ' + I1[0]

#Change the balance body
I1[1:] = list(map(lambda x, y: x +' Balance '+ y, I1[1:], BalanceStep ))

I1

['Original Balance: 1000.00',
 '125 Market 125.45 Balance 874.55',
 '126 Hardware 34.95 Balance 839.60',
 '127 Video 7.45 Balance 832.15',
 '128 Book 14.32 Balance 817.83',
 '129 Gasoline 16.10 Balance 801.73']

In [105]:
#Write the function here:

def balance(book):
    #Split by lines
    L1 = book.splitlines()
    #First step is to clean it
    I1 = [''.join([i for i in e if i.isalpha() or i.isdigit() or i == '.' or i == ' ']) for e in L1 if e]
    #Expense for each step
    c1 = [float(e.split(' ')[-1]) for e in I1]
    #Ending balance for each step and keep trailing zero
    BalanceStep = ["{:.2f}".format(round((c1[0] - sum(c1[1:i+1])), 2)) for i in range(1, len(c1))]
    #Expense
    Expense = ['Total expense  '+"{:.2f}".format(round(c1[0] - float(BalanceStep[-1]), 2)), 
           'Average expense  ' + '{:.2f}'.format(round((c1[0] - float(BalanceStep[-1]))/len(BalanceStep), 2))]
    #Change the first line
    I1[0] = 'Original Balance: ' + I1[0]
    #Change the balance body 
    I1[1:] = list(map(lambda x, y: x +' Balance '+ y, I1[1:], BalanceStep ))
    
    #Add the expense
    result = '\r\n'.join(I1 + Expense)
    return result

In [123]:
#Shall change the expense in each step to two decimal degrees as well.
I1 = [''.join([i for i in e if i.isalpha() or i.isdigit() or i == '.' or i == ' ']) for e in L1 if e]
I1
[e.split(' ')[-1] for e in I1]
#The cleaning part
[e.split(' ')[:-1] for e in I1]

['1000.00',
 '125 Market 125.45',
 '126 Hardware 34.95',
 '127 Video 7.45',
 '128 Book 14.32',
 '129 Gasoline 16.10']

['1000.00', '125.45', '34.95', '7.45', '14.32', '16.10']

[[],
 ['125', 'Market'],
 ['126', 'Hardware'],
 ['127', 'Video'],
 ['128', 'Book'],
 ['129', 'Gasoline']]

In [133]:
b2="""1233.00
125 Hardware;! 24.8?;
123 Flowers 93.5
127 Meat 120.90
120 Picture 34.00
124 Gasoline 11.00
123 Photos;! 71.4?;
122 Picture 93.5
132 Tyres;! 19.00,?;
129 Stamps 13.6
129 Fruits{} 17.6
129 Market;! 128.00?;
121 Gasoline;! 13.6?;"""
L2 = b2.splitlines()
I2 = [''.join([i for i in e if i.isalpha() or i.isdigit() or i == '.' or i == ' ']) for e in L2 if e]
I2
['{:.2f}'.format(float(e.split(' ')[-1])) for e in I2]

#Try to clean this part in one line
[' '.join(e.split(' ')[:-1]) +' ' + '{:.2f}'.format(float(e.split(' ')[-1])) for e in I2]

['1233.00',
 '125 Hardware 24.8',
 '123 Flowers 93.5',
 '127 Meat 120.90',
 '120 Picture 34.00',
 '124 Gasoline 11.00',
 '123 Photos 71.4',
 '122 Picture 93.5',
 '132 Tyres 19.00',
 '129 Stamps 13.6',
 '129 Fruits 17.6',
 '129 Market 128.00',
 '121 Gasoline 13.6']

['1233.00',
 '24.80',
 '93.50',
 '120.90',
 '34.00',
 '11.00',
 '71.40',
 '93.50',
 '19.00',
 '13.60',
 '17.60',
 '128.00',
 '13.60']

[' 1233.00',
 '125 Hardware 24.80',
 '123 Flowers 93.50',
 '127 Meat 120.90',
 '120 Picture 34.00',
 '124 Gasoline 11.00',
 '123 Photos 71.40',
 '122 Picture 93.50',
 '132 Tyres 19.00',
 '129 Stamps 13.60',
 '129 Fruits 17.60',
 '129 Market 128.00',
 '121 Gasoline 13.60']

In [137]:
#Final Change
def balance(book):
    #Split by lines
    L1 = book.splitlines()
    #First step is to clean it
    
    #Delete any unnecessary character
    I1 = [''.join([i for i in e if i.isalpha() or i.isdigit() or i == '.' or i == ' ']) for e in L1 if e]
    #Format the expense of each line to 2 digits
    I1 = [' '.join(e.split(' ')[:-1]) +' ' + '{:.2f}'.format(float(e.split(' ')[-1])) for e in I1]
    #Expense for each step
    c1 = [float(e.split(' ')[-1]) for e in I1]
    #Ending balance for each step and keep trailing zero
    BalanceStep = ["{:.2f}".format(round((c1[0] - sum(c1[1:i+1])), 2)) for i in range(1, len(c1))]
    #Expense
    Expense = ['Total expense  '+"{:.2f}".format(round(c1[0] - float(BalanceStep[-1]), 2)), 
           'Average expense  ' + '{:.2f}'.format(round((c1[0] - float(BalanceStep[-1]))/len(BalanceStep), 2))]
    #Change the first line
    I1[0] = 'Original Balance:' + I1[0]
    #Change the balance body 
    I1[1:] = list(map(lambda x, y: x +' Balance '+ y, I1[1:], BalanceStep ))
    
    #Add the expense
    result = '\r\n'.join(I1 + Expense)
    return result

In [ ]:
MyTrial1Answer = 'Original Balance:  1000.00\r\n125 Market 125.45 Balance 874.55\r\n126 Hardware 34.95 Balance 839.60\r\n127 Video 7.45 Balance 832.15\r\n128 Book 14.32 Balance 817.83\r\n129 Gasoline 16.10 Balance 801.73\r\nTotal expense  198.27\r\nAverage expense  39.65
SupposedAnswer = 'Original Balance: 1000.00\r\n125 Market 125.45 Balance 874.55\r\n126 Hardware 34.95 Balance 839.60\r\n127 Video 7.45 Balance 832.15\r\n128 Book 14.32 Balance 817.83\r\n129 Gasoline 16.10 Balance 801.73\r\nTotal expense  198.27\r\nAverage expense  39.65'

In [135]:
#Test function
b1 = """1000.00!=

125 Market !=:125.45
126 Hardware =34.95
127 Video! 7.45
128 Book :14.32
129 Gasoline ::16.10
"""
balance(b1)

'Original Balance:  1000.00\r\n125 Market 125.45 Balance 874.55\r\n126 Hardware 34.95 Balance 839.60\r\n127 Video 7.45 Balance 832.15\r\n128 Book 14.32 Balance 817.83\r\n129 Gasoline 16.10 Balance 801.73\r\nTotal expense  198.27\r\nAverage expense  39.65'

In [136]:
b2="""1233.00
125 Hardware;! 24.8?;
123 Flowers 93.5
127 Meat 120.90
120 Picture 34.00
124 Gasoline 11.00
123 Photos;! 71.4?;
122 Picture 93.5
132 Tyres;! 19.00,?;
129 Stamps 13.6
129 Fruits{} 17.6
129 Market;! 128.00?;
121 Gasoline;! 13.6?;"""

balance(b2)

'Original Balance:  1233.00\r\n125 Hardware 24.80 Balance 1208.20\r\n123 Flowers 93.50 Balance 1114.70\r\n127 Meat 120.90 Balance 993.80\r\n120 Picture 34.00 Balance 959.80\r\n124 Gasoline 11.00 Balance 948.80\r\n123 Photos 71.40 Balance 877.40\r\n122 Picture 93.50 Balance 783.90\r\n132 Tyres 19.00 Balance 764.90\r\n129 Stamps 13.60 Balance 751.30\r\n129 Fruits 17.60 Balance 733.70\r\n129 Market 128.00 Balance 605.70\r\n121 Gasoline 13.60 Balance 592.10\r\nTotal expense  640.90\r\nAverage expense  53.41'

In [40]:
c1
c1[1:2]

[1000.0, 125.45, 34.95, 7.45, 14.32, 16.1]

[125.45]

In [88]:
a1 = list(range(1, len(c1)))
a1.extend(Expense)

In [89]:
a1

[1, 2, 3, 4, 5, 'Total expense 198.27', 'Average expense 39.60']

In [32]:
sum(c1[1:3])

160.4

In [17]:
from functools import reduce
reduce(lambda x,y: float(x)-float(y), c1)

801.7299999999998